header {
    background: #666666;
    text-align: center;
}
body {
    background: #000000;
}
/*
 * div#appDiv button.active {
 *     background: #38b57e;
 * }
 * 
 * div#appDiv button.inactive {
 *     background: #d37676;
 * }
 */
